<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
    <script src="https://code.jquery.com/jquery-3.2.1.min.js "></script>
    <script type="text/javascript">
        for (var i=1;i<2;i++){
            var params={
                userId:3,
                productId:3,
                count:1
            };

            $.ajax({
                type: "post",
                url: "http://127.0.0.1:8080/goods/buy",
                dataType: "json",
                contentType: "application/json;charset=utf-8",
                data:JSON.stringify(params),
                success: function (message) {
                    console.log(message)
                },
                error:function (message) {
                    console.log(message)
                }
            })
        }
    </script>
    <h1>抢购商品测试</h1>
</body>
</html>
